// primary color / border top
$bt-red: hsl(0, 78%, 62%);
$bt-cyan: hsl(180, 62%, 55%);
$bt-orange: hsl(34, 97%, 64%);
$bt-blue: hsl(212, 86%, 64%);

// neutral color / font color
$fc-dark-blue: hsl(234, 12%, 34%);
$fc-gray-blue: hsl(229, 6%, 66%);
$fc-light-gray: hsl(0, 0%, 98%);

// font
$fs-rg: 0.9375rem;
$fs-lg: 1.5rem;
$fs-sm: 0.8rem;
$ff: "Poppins", sans-serif;
